
<tr>

    <td class="wrapper">

        <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td>

            <p>Hi {{employerData.name}},</p>

            <p>This system is an interactive website where employers can create and post their own job openings; view candidate resumes and skills, and receive automatic notification of candidate matches. In addition, employers may research education and training programs as well as research state and local occupation forecasts, area and industry data, and much more Labor Market Information. </p>

           

            <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                <tr>

                    <td>

                        <span>Cheers,</span>

                        <br>The Shah Enterprise

                    </td>

                </tr>

            </table>

            </td>

        </tr>

        </table>

    </td>

</tr>