<table role="presentation" class="main">

    <tr>

        <td>

            <div class="header">

                <img src="https://shahenterprises.org/uploads/2023/07/cropped-logo.webp" alt="Company Logo" />

                <a class="" href="www.wyomingatwork.com">shahinterprise.com</a>

            </div>

        </td>

    </tr>

</table>